/* General */



// Font families

$fontset-primary-family: null !default;
$fontset-primary-weight: bold !default;
$fontset-secondary-family: $fontset-primary-family !default;
$fontset-secondary-weight: normal !default;
$fontset-secondary-weight-bold: bold !default;
$fontset-family-monospace: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace !default;



// Colors

$fontset-color-primary: deeppink !default;
$fontset-color-primary-contrast: #fff !default;
$fontset-color-secondary: #f0f0f0;
$fontset-color-secondary-contrast: #404040;



// Indentation for blockquotes, lists, e.t.c.

$fontset-indent: 28px !default;



/* Responsive */

// Bottom margins for paragraphs, tables and other block elements.
// $fontset-block-margin-bottom-min is used on narrow screens
// $fontset-block-margin-bottom-max is used on wide screens

$fontset-block-margin-bottom-min: 14 !default;
$fontset-block-margin-bottom-max: 28 !default;



// Responsive css units

// Valid units: px, rem, vw (experimental)

$fontset-unit: rem !default;

// If $fontset-unit is rem, this media query will be used for scaling down
// font-sizes, margins and other values on small screens.
$fontset-breakpoint-rem: "(max-width: 780px)" !default;

// If $fontset-unit is rem, this value should be equal to to the font-size of <html>.
$fontset-rem-base: 16 !default;

// If $fontset-unit is px, this media query will be used for scaling down
// font-sizes, margins and other values on small screens.
$fontset-breakpoint-px: "(max-width: 780px)" !default;

// If $fontset-unit is vw (viewport width), $fontset-max-vw will prevent
// font sizes from getting too large on screens wider than the given value.
$fontset-max-vw: 1380 !default;



/* Elements */

// Font sizes containing two values will be scaled responsively.

$fontset-elements: (

// html-    font-                      font-      line-   font-                          font-
// element  family                     size       height  weight                         style

a:          null                       null       null    null                           null,
abbr:       null                       null       null    null                           null,
address:    $fontset-secondary-family  14         1.5     $fontset-secondary-weight-bold normal,
blockquote: $fontset-secondary-family (14, 16)    1.75    $fontset-secondary-weight      null,
button:     $fontset-secondary-family (14, 16)    1.25    $fontset-secondary-weight-bold null,
dt:         $fontset-secondary-family (14, 16)    1.5     $fontset-secondary-weight-bold null,
dd:         $fontset-secondary-family (14, 16)    1.5     $fontset-secondary-weight      null,
figcaption: $fontset-secondary-family  14         1.5     $fontset-secondary-weight-bold null,
h1:         $fontset-primary-family   (30, 44)    1       $fontset-primary-weight        null,
h2:         $fontset-primary-family   (22, 32)    1.25    $fontset-primary-weight        null,
h3:         $fontset-primary-family   (18, 28)    1.25    $fontset-primary-weight        null,
h4:         $fontset-primary-family   (16, 24)    1.25    $fontset-primary-weight        null,
h5:         $fontset-primary-family   (14, 20)    1.25    $fontset-primary-weight        null,
h6:         $fontset-primary-family   (12, 16)    1.25    $fontset-primary-weight        null,
b:          null                       null       null    bolder                         null,
cite:       null                       null       null    null                           italic,
code:       $fontset-family-monospace  null       null    null                           null,
del:        null                       null       null    null                           null,
em:         null                       null       null    null                           italic,
i:          null                       null       null    null                           italic,
ins:        null                       null       null    null                           null,
mark:       null                       null       null    null                           null,
nav:        $fontset-secondary-family (14, 16)    1.25    $fontset-secondary-weight-bold null,
strong:     null                       null       null    bolder                         null,
summary:    $fontset-secondary-family (14, 16)    1.5     $fontset-secondary-weight-bold null,
li:         $fontset-secondary-family (14, 16)    1.25    $fontset-secondary-weight      null,
p:          $fontset-secondary-family (14, 16)    1.75    $fontset-secondary-weight      null,
pre:        $fontset-family-monospace  14         1.5     null                           null,
caption:    $fontset-primary-family   (14, 16)    1.25    $fontset-primary-weight        null,
th:         $fontset-secondary-family (14, 16)    1.25    $fontset-secondary-weight-bold null,
td:         $fontset-secondary-family  14         1.25    $fontset-secondary-weight      null
) !default;

// a

$fontset-a-transition: color .25s ease !default;
$fontset-a-color-link: inherit !default;
$fontset-a-color-visited: inherit !default;
$fontset-a-color-hover: $fontset-color-primary !default;
$fontset-a-color-focus: $fontset-color-primary !default;
$fontset-a-color-active: $fontset-color-primary !default;

// abbr

$fontset-abbr-border-bottom: 1px dotted $fontset-color-primary !default;

// blockquote

$fontset-blockquote-indent: $fontset-indent;
$fontset-blockquote-border-width: 2px !default;
$fontset-blockquote-border-color: $fontset-color-secondary !default;

// button

$fontset-button-padding: .625em 1.25em !default;
$fontset-button-color: $fontset-color-primary-contrast !default;
$fontset-button-background-color: $fontset-color-primary !default;
$fontset-button-disabled-color: #eee !default;
$fontset-button-disabled-background-color: #ccc !default;
$fontset-button-states: shadow !default;

// code

$fontset-code-color: $fontset-color-primary !default;

// dl

$dl-indent: $fontset-indent;

// hr

$fontset-hr-color: $fontset-color-primary !default;

// lists

$fontset-list-indent: $fontset-indent !default;

// mark

$fontset-mark-background-color: $fontset-color-primary !default;
$fontset-mark-color: $fontset-color-primary-contrast !default;

// pre

$fontset-pre-padding: 1.25em .625em !default;
$fontset-pre-background-color: $fontset-color-secondary !default;
$fontset-pre-color: $fontset-color-secondary-contrast !default;

// table

$fontset-table-border-color: $fontset-color-secondary !default;



/* States */

$fontset-states-shadow-transition: box-shadow .25s ease !default;



/* Rendering */

// Setting this to a css selector will cause all css to be rendered immediately after importing the file.
// Example: $fontset-selector: '.fontset';
// If null, no css will be rendered until the fontset mixin is included.
// Example: .fontset { @include fontset }

$fontset-selector: null !default;