<h1>
    H1 Heading <strong>level 1</strong>
</h1>
<p>
    These elements represent <strong>headings</strong> for their sections.
    <br>
    Read more on <a href="https://www.w3.org/wiki/HTML/Elements/h1,_h2,_h3,_h4,_h5,_and_h6">w3.org</a>.
    The <code>&lt;h1&gt;</code> element has the highest rank.
</p>
<h2>
    H2 Heading <strong>level 2</strong>
</h2>
<p>
    The <code>&lt;h2&gt;</code> element has the second highest rank.
    <strong>Vestibulum tincidunt rhoncus</strong> suscipit. Nulla at magna elit. Ut at elementum ex, a facilisis lorem.
    Duis at sodales purus. <em>Duis nec commodo tellus</em>.
</p>
<h3>
    H3 Heading <strong>level 3</strong>
</h3>
<p>
    Vestibulum tincidunt rhoncus suscipit. <code>&lt;h3&gt;</code> Nulla at magna elit. Ut at elementum ex, a facilisis lorem.
    Duis at sodales purus. Duis nec commodo tellus. Curabitur semper metus nec pretium auctor.
    Integer pharetra est felis, vitae consequat nulla placerat et.
</p>
<h4>
    H4 Heading <strong>level 4</strong>
</h4>
<p>
    Vestibulum <code>&lt;h4&gt;</code> tincidunt rhoncus suscipit. Nulla at magna elit. Ut at elementum ex, a facilisis lorem.
    Duis at sodales purus. Duis nec commodo tellus. Curabitur semper metus nec pretium auctor.
    Integer pharetra est felis, vitae consequat nulla placerat et.
</p>
<h5>
    H5 Heading <strong>level 5</strong>
</h5>
<p>
    Vestibulum tincidunt rhoncus suscipit. Nulla at magna elit. <code>&lt;h5&gt;</code> Ut at elementum ex, a facilisis lorem.
    Duis at sodales purus. Duis nec commodo tellus. Curabitur semper metus nec pretium auctor.
    Integer pharetra est felis, vitae consequat nulla placerat et.
</p>
<h6>
    H6 Heading <strong>level 6</strong>
</h6>
<p>
    The <code>&lt;h6&gt;</code> element has the highest rank. Nulla at magna elit. Ut at elementum ex, a facilisis lorem.
    Duis at sodales purus. Duis nec commodo tellus. Curabitur semper metus nec pretium auctor.
    Integer pharetra est felis, vitae consequat nulla placerat et.
</p>