<h2>Inline elements</h2>
<h3>Common</h3>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/strong">
    <strong>
        The <code>&lt;strong&gt;</code> element
    </strong>
    represents strong importance for its contents.
</blockquote>
<blockquote cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em">
    The HTML element emphasis <code>&lt;em&gt;</code> <em>marks text that has stress emphasis</em>.
    The em element can be nested,
    <em>
        with each level of nesting indicating
        <em>
            a greater degree of emphasis.
        </em>
    </em>
</blockquote>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/b">
    <b>
        The <code>&lt;b&gt;</code> element
    </b>
    represents a span of text to be stylistically offset from the normal prose without conveying any extra importance.
    according to <a href="https://www.w3.org/wiki/HTML/Elements/b">w3.org</a>.
</blockquote>
<blockquote cite="https://www.w3.org/TR/html5/text-level-semantics.html#the-i-element">
    The <code>&lt;i&gt;</code> element
    represents a span of text <i>in an alternate voice or mood</i>,
    or otherwise offset from <i>the normal prose</i> in a manner indicating a <i>different quality of text</i>
    according to <a href="https://www.w3.org/wiki/HTML/Elements/i">w3.org</a>.
</blockquote>
<h3>Inline quotes / citations</h3>
<p>
    According to <a href="https://www.w3.org/wiki/HTML/Elements/q">w3.org</a>,
    <q cite="https://www.w3.org/wiki/HTML/Elements/q">
        the <code>&lt;q&gt;</code> element represents some phrasing content quoted from another source.
    </q>
</p>
<p>
    <cite>The cite element</cite> <code>&lt;cite&gt;</code> represents the cited title of a work; for example, the title of a book mentioned within the main text flow of a document.
</p>
<h3>Code</h3>
<p>
    <a href="w3.org">w3.org</a>:
    <q cite="https://www.w3.org/wiki/HTML/Elements/code">
        The HTML Code Element <code>&lt;code&gt;</code> represents a fragment of computer code.
    </q>
</p>
<h3>Document edits</h3>
<p>
    By using <del>the <code>&lt;del&gt;</code> element</del>, text can be marked as deleted.
    <br>
    The <code>&lt;ins&gt;</code> element <ins>marks the text as inserted</ins>.
    <br>
    Use the <code>&lt;mark&gt;</code> element for <mark>text highlighting</mark>.
</p>
<h3>Abbreviation</h3>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/abbr">
    The <code>&lt;abbr&gt;</code> element represents an abbreviation or acronym.
</blockquote>
