<h2>Tables</h2>
<p>
    <code>&lt;table&gt;</code>,
    <code>&lt;caption&gt;</code>,
    <code>&lt;thead&gt;</code>,
    <code>&lt;tbody&gt;</code>,
    <code>&lt;tfoot&gt;</code>,
    <code>&lt;tr&gt;</code>,
    <code>&lt;th&gt;</code> and
    <code>&lt;td&gt;</code>
</p>
<table>
    <caption>Table caption</caption>
    <thead>
    <tr>
        <th>Heading one</th>
        <th>Heading two</th>
        <th>Heading three</th>
        <th>Heading four</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Column one</td>
        <td>Column two</td>
        <td>Column three</td>
        <td>Column four</td>
    </tr>
    <tr>
        <td>Column one</td>
        <td>Column two</td>
        <td>Column three</td>
        <td>Column four</td>
    </tr>
    <tr>
        <td>Column one</td>
        <td>Column two</td>
        <td>Column three</td>
        <td>Column four</td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Heading one</th>
        <th colspan="2">Heading two</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Vestibulum tincidunt rhoncus suscipit. Nulla at magna elit. Ut at elementum ex, a facilisis lorem.</td>
        <td>Duis at sodales purus. Duis nec commodo tellus.</td>
        <td>Duis at sodales purus. Duis nec commodo tellus. Curabitur semper metus nec pretium auctor.</td>
    </tr>
    <tr>
        <td>Duis at sodales purus. Duis nec commodo tellus.</td>
        <td>Vestibulum tincidunt rhoncus suscipit. Nulla at magna elit. Ut at elementum ex, a facilisis lorem.</td>
        <td>Duis at sodales purus. Duis nec commodo tellus.</td>
    </tr>
    </tbody>
</table>