<h2>Paragraphs</h2>
<p>
    The <code>&lt;p&gt;</code> element represents a paragraph.
    This element <em>should not be used</em> when a more specific element is more appropriate.
    Read more about paragraphs on <a href="https://www.w3.org/wiki/HTML/Elements/p">w3.org</a>.
</p>