<h2>Details</h2>
<p>
    Not supported by all browsers, see
    <a href="http://caniuse.com/#feat=details" target="_blank">
        caniuse.com/#feat=details
    </a>
</p>
<details>
    <summary>
        This is a <code>&lt;summary&gt;</code> element
    </summary>
    <p>
        Details
    </p>
</details>
