<h2>Figures</h2>
<figure>
    <img src="demo/placeholder.png" alt="An image">
    <figcaption>
        Simple example of a <code>&lt;figure&gt;</code> with a <code>&lt;figcaption&gt;</code>.
        <br>
        Read more about those elements on
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">
            developer.mozilla.org
        </a>.
    </figcaption>
</figure>
