<h2>Address</h2>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/address">
    The <code>&lt;address&gt;</code> element represents the contact information for its nearest article or body element ancestor.
</blockquote>
<address>
    My address
    <br>
    1234 City, Country
    <br>
    Phone: <a href="#">00011222</a>
    <br>
    E-mail: <a href="#">email@email.org</a>
</address>