@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
$fontset-primary-family: 'Cabin Sketch', cursive;
$fontset-primary-weight: 700 700;
$fontset-secondary-family: $fontset-primary-family;
$fontset-secondary-weight: 400 700;
$fontset-secondary-weight-bold: 700 700;

@import "../index";