@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700');
$fontset-primary-family: 'Droid Serif', serif;
$fontset-primary-weight: 400 700;
$fontset-secondary-family: 'Droid Sans', sans-serif;
$fontset-secondary-weight: 400 700;
$fontset-secondary-weight-bold: 700 700;

@import "../index";