@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$fontset-primary-family: 'Lato', sans-serif;
$fontset-primary-weight: 700 400;
$fontset-secondary-family: $fontset-primary-family;
$fontset-secondary-weight: 300 400;
$fontset-secondary-weight-bold: 400 700;

@import "../index";