@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
$fontset-primary-family: 'Noto Serif', serif;
$fontset-primary-weight: 700 700;
$fontset-secondary-family: $fontset-primary-family;
$fontset-secondary-weight: 400 700;
$fontset-secondary-weight-bold: 700 700;

@import "../index";