$fontset-primary-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$fontset-primary-weight: normal bold;
$fontset-secondary-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$fontset-secondary-weight: normal bold;
$fontset-secondary-weight-bold: bold bolder;
@import "../index";