@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Open+Sans+Condensed:300,700');
$fontset-primary-family: 'Playfair Display', serif;
$fontset-primary-weight: 400 700;
$fontset-secondary-family: 'Open Sans Condensed', sans-serif;
$fontset-secondary-weight: 300 700;
$fontset-secondary-weight-bold: 700 700;
@import "../index";