@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poiret+One');
$fontset-primary-family: 'Poiret One', cursive;
$fontset-primary-weight: 400 400;
$fontset-secondary-family: 'Lora', serif;
$fontset-secondary-weight: 400 700;
$fontset-secondary-weight-bold: 700 700;

@import "../index";