@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
/* General */
/* Responsive */
/* Elements */
/* States */
/* Rendering */
.fontset *,
.fontset *:before,
.fontset *:after {
  box-sizing: border-box; }

.fontset a {
  transition: color 0.25s ease; }
  .fontset a:link {
    color: inherit; }
  .fontset a:visited {
    color: inherit; }
  .fontset a:hover {
    color: deeppink; }
  .fontset a:focus {
    color: deeppink;
    outline-color: currentColor;
    outline-offset: 3px; }
  .fontset a:active {
    color: deeppink; }

.fontset address {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem; }
  .fontset address {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset address {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset address {
        margin-bottom: 1.75rem; } }
  .fontset address b,
  .fontset address strong {
    font-weight: 700; }

.fontset blockquote {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  font-weight: 300;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-left: solid #f0f0f0; }
  .fontset blockquote {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset blockquote {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset blockquote {
        margin-bottom: 1.75rem; } }
  .fontset blockquote b,
  .fontset blockquote strong {
    font-weight: 400; }
  .fontset blockquote {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset blockquote {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset blockquote {
        font-size: 1rem; } }
  .fontset blockquote {
    padding-left: 0.75rem; }
    @media screen and (min-width: 20rem) {
      .fontset blockquote {
        padding-left: calc(0.75rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset blockquote {
        padding-left: 1.625rem; } }

.fontset button {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  padding: 0.625em 1.25em;
  border: none 0;
  color: #fff;
  background-color: deeppink;
  transition: box-shadow 0.25s ease; }
  .fontset button b,
  .fontset button strong {
    font-weight: 700; }
  .fontset button {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset button {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset button {
        font-size: 1rem; } }
  .fontset button[disabled] {
    color: #eee;
    background-color: #ccc; }
  .fontset button:hover {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.21), 0 2px 2px 0 rgba(0, 0, 0, 0.105), 0 1px 5px 0 rgba(0, 0, 0, 0.105); }
  .fontset button:focus {
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.42), 0 2px 4px 0 rgba(0, 0, 0, 0.21), 0 1px 10px 0 rgba(0, 0, 0, 0.21);
    outline: none; }
  .fontset button:active {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.63), 0 2px 6px 0 rgba(0, 0, 0, 0.315), 0 1px 15px 0 rgba(0, 0, 0, 0.315); }

.fontset details {
  margin-top: 0; }
  .fontset details {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset details {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset details {
        margin-bottom: 1.75rem; } }

.fontset summary {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer; }
  .fontset summary {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset summary {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset summary {
        margin-bottom: 1.75rem; } }
  .fontset summary b,
  .fontset summary strong {
    font-weight: 700; }
  .fontset summary {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset summary {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset summary {
        font-size: 1rem; } }

.fontset dl {
  margin-top: 0; }
  .fontset dl {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset dl {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset dl {
        margin-bottom: 1.75rem; } }

.fontset dt,
.fontset dd {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
  padding: 0; }
  .fontset dt,
  .fontset dd {
    margin-top: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset dt,
      .fontset dd {
        margin-top: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset dt,
      .fontset dd {
        margin-top: 1.75rem; } }

.fontset dt:first-of-type,
.fontset dd:first-of-type {
  margin-top: 0; }

.fontset dt {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400; }
  .fontset dt b,
  .fontset dt strong {
    font-weight: 700; }
  .fontset dt {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset dt {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset dt {
        font-size: 1rem; } }

.fontset dd {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 300; }
  .fontset dd b,
  .fontset dd strong {
    font-weight: 400; }
  .fontset dd {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset dd {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset dd {
        font-size: 1rem; } }
  .fontset dd {
    padding-left: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset dd {
        padding-left: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset dd {
        padding-left: 1.75rem; } }

.fontset dd + dd,
.fontset dt + dt,
.fontset dt + dd {
  margin-top: 0; }

.fontset dt + dt + dd {
  margin-top: 0; }

.fontset figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }
  .fontset figure {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset figure {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset figure {
        margin-bottom: 1.75rem; } }

.fontset figcaption {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400; }
  .fontset figcaption b,
  .fontset figcaption strong {
    font-weight: 700; }
  .fontset figcaption {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset figcaption {
        font-size: calc(0.875rem + 0 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset figcaption {
        font-size: 0.875rem; } }

.fontset h1 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
  font-weight: 400; }
  .fontset h1 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h1 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h1 {
        margin-bottom: 1.75rem; } }
  .fontset h1 b,
  .fontset h1 strong {
    font-weight: 700; }
  .fontset h1 {
    font-size: 1.81438rem; }
    @media screen and (min-width: 20rem) {
      .fontset h1 {
        font-size: calc(1.81438rem + 1.34313 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h1 {
        font-size: 3.1575rem; } }

.fontset h2 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset h2 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h2 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h2 {
        margin-bottom: 1.75rem; } }
  .fontset h2 b,
  .fontset h2 strong {
    font-weight: 700; }
  .fontset h2 {
    font-size: 1.51188rem; }
    @media screen and (min-width: 20rem) {
      .fontset h2 {
        font-size: calc(1.51188rem + 0.85687 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h2 {
        font-size: 2.36875rem; } }

.fontset h3 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset h3 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h3 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h3 {
        margin-bottom: 1.75rem; } }
  .fontset h3 b,
  .fontset h3 strong {
    font-weight: 700; }
  .fontset h3 {
    font-size: 1.26rem; }
    @media screen and (min-width: 20rem) {
      .fontset h3 {
        font-size: calc(1.26rem + 0.51687 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h3 {
        font-size: 1.77687rem; } }

.fontset h4 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset h4 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h4 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h4 {
        margin-bottom: 1.75rem; } }
  .fontset h4 b,
  .fontset h4 strong {
    font-weight: 700; }
  .fontset h4 {
    font-size: 1.05rem; }
    @media screen and (min-width: 20rem) {
      .fontset h4 {
        font-size: calc(1.05rem + 0.28312 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h4 {
        font-size: 1.33312rem; } }

.fontset h5 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset h5 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h5 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h5 {
        margin-bottom: 1.75rem; } }
  .fontset h5 b,
  .fontset h5 strong {
    font-weight: 700; }
  .fontset h5 {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h5 {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h5 {
        font-size: 1rem; } }

.fontset h6 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset h6 {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset h6 {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h6 {
        margin-bottom: 1.75rem; } }
  .fontset h6 b,
  .fontset h6 strong {
    font-weight: 700; }
  .fontset h6 {
    font-size: 0.72937rem; }
    @media screen and (min-width: 20rem) {
      .fontset h6 {
        font-size: calc(0.72937rem + 0.02063 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset h6 {
        font-size: 0.75rem; } }

.fontset hr {
  margin-top: 0;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px deeppink;
  border-left: none; }
  .fontset hr {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset hr {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset hr {
        margin-bottom: 1.75rem; } }

.fontset img {
  margin-top: 0;
  display: block;
  max-width: 100%; }
  .fontset img {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset img {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset img {
        margin-bottom: 1.75rem; } }

.fontset abbr[title] {
  border-bottom: 1px dotted deeppink;
  cursor: help; }

.fontset b {
  font-weight: bolder; }

.fontset cite {
  font-style: italic; }

.fontset code {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  color: deeppink; }

.fontset pre code {
  color: inherit; }

.fontset em {
  font-style: italic; }

.fontset i {
  font-style: italic; }

.fontset mark {
  background-color: deeppink;
  color: #fff; }

.fontset strong {
  font-weight: bolder; }

.fontset ol,
.fontset ul {
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0; }
  .fontset ol,
  .fontset ul {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset ol,
      .fontset ul {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset ol,
      .fontset ul {
        margin-bottom: 1.75rem; } }
  .fontset ol,
  .fontset ul {
    padding-left: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset ol,
      .fontset ul {
        padding-left: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset ol,
      .fontset ul {
        padding-left: 1.75rem; } }
  .fontset ol ol,
  .fontset ol ul,
  .fontset ul ol,
  .fontset ul ul {
    margin-bottom: 0 !important; }
    .fontset ol ol,
    .fontset ol ul,
    .fontset ul ol,
    .fontset ul ul {
      margin-top: 0.4375rem; }
      @media screen and (min-width: 20rem) {
        .fontset ol ol,
        .fontset ol ul,
        .fontset ul ol,
        .fontset ul ul {
          margin-top: calc(0.4375rem + 0.4375 * (100vw - 20rem) / 55); } }
      @media screen and (min-width: 75rem) {
        .fontset ol ol,
        .fontset ol ul,
        .fontset ul ol,
        .fontset ul ul {
          margin-top: 0.875rem; } }

.fontset ol {
  list-style-type: decimal;
  list-style-position: outside; }

.fontset ul {
  list-style-type: disc;
  list-style-position: outside; }

.fontset li {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300; }
  .fontset li b,
  .fontset li strong {
    font-weight: 400; }
  .fontset li {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset li {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset li {
        font-size: 1rem; } }
  .fontset li {
    margin-bottom: 0.4375rem; }
    @media screen and (min-width: 20rem) {
      .fontset li {
        margin-bottom: calc(0.4375rem + 0.4375 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset li {
        margin-bottom: 0.875rem; } }
  .fontset li {
    padding-left: 0.4375rem; }
    @media screen and (min-width: 20rem) {
      .fontset li {
        padding-left: calc(0.4375rem + 0.4375 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset li {
        padding-left: 0.875rem; } }

.fontset nav {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset nav {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset nav {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset nav {
        margin-bottom: 1.75rem; } }
  .fontset nav b,
  .fontset nav strong {
    font-weight: 700; }
  .fontset nav {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset nav {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset nav {
        font-size: 1rem; } }
  .fontset nav ul,
  .fontset nav li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .fontset nav a {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.25;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 0.5em 0; }
    .fontset nav a b,
    .fontset nav a strong {
      font-weight: 700; }
    .fontset nav a {
      font-size: 0.875rem; }
      @media screen and (min-width: 20rem) {
        .fontset nav a {
          font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
      @media screen and (min-width: 75rem) {
        .fontset nav a {
          font-size: 1rem; } }
  .fontset nav ul ul a {
    padding-left: 14 28; }

.fontset p {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  font-weight: 300; }
  .fontset p {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset p {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset p {
        margin-bottom: 1.75rem; } }
  .fontset p b,
  .fontset p strong {
    font-weight: 400; }
  .fontset p {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset p {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset p {
        font-size: 1rem; } }

.fontset pre {
  margin-top: 0;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 1.25em 0.625em;
  overflow-x: auto;
  background-color: #f0f0f0;
  color: #404040; }
  .fontset pre {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset pre {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset pre {
        margin-bottom: 1.75rem; } }

.fontset table {
  margin-top: 0;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse; }
  .fontset table {
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset table {
        margin-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset table {
        margin-bottom: 1.75rem; } }

.fontset caption,
.fontset th,
.fontset td {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem; }

.fontset caption {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  text-align: left; }
  .fontset caption b,
  .fontset caption strong {
    font-weight: 700; }
  .fontset caption {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset caption {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset caption {
        font-size: 1rem; } }

.fontset th,
.fontset td {
  text-align: left;
  vertical-align: top;
  border: solid 1px #f0f0f0; }

.fontset th {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400; }
  .fontset th b,
  .fontset th strong {
    font-weight: 700; }
  .fontset th {
    font-size: 0.875rem; }
    @media screen and (min-width: 20rem) {
      .fontset th {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55); } }
    @media screen and (min-width: 75rem) {
      .fontset th {
        font-size: 1rem; } }

.fontset td {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 0.875rem; }
  .fontset td b,
  .fontset td strong {
    font-weight: 400; }
