@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300");
/* General */
/* Responsive */
/* Elements */
/* Rendering */
.fontset *,
.fontset *:before,
.fontset *:after {
  box-sizing: border-box; }

.fontset a {
  transition: color 0.25s ease; }
  .fontset a:link {
    color: inherit; }
  .fontset a:visited {
    color: inherit; }
  .fontset a:hover {
    color: deeppink; }
  .fontset a:focus {
    color: deeppink;
    outline-color: currentColor;
    outline-offset: 3px; }
  .fontset a:active {
    color: deeppink; }

.fontset address {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem; }
  @media (max-width: 780px) {
    .fontset address {
      margin-bottom: 0.875rem; } }

.fontset blockquote {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 26px;
  border-left: solid #f0f0f0; }
  @media (max-width: 780px) {
    .fontset blockquote {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset blockquote {
      font-size: 0.875rem; } }

.fontset button {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.625em 1.25em;
  border: none 0;
  color: #fff;
  background-color: deeppink; }
  @media (max-width: 780px) {
    .fontset button {
      font-size: 0.875rem; } }
  .fontset button[disabled] {
    color: #eee;
    background-color: #ccc; }
  .fontset button:focus {
    outline-color: deeppink;
    outline-offset: 3px; }

.fontset details {
  margin-top: 0;
  margin-bottom: 1.75rem; }
  @media (max-width: 780px) {
    .fontset details {
      margin-bottom: 0.875rem; } }

.fontset summary {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer; }
  @media (max-width: 780px) {
    .fontset summary {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset summary {
      font-size: 0.875rem; } }

.fontset dl {
  margin-top: 0;
  margin-bottom: 1.75rem; }
  @media (max-width: 780px) {
    .fontset dl {
      margin-bottom: 0.875rem; } }

.fontset dt,
.fontset dd {
  text-align: left;
  margin: 16px 0 0 0;
  padding: 0; }

.fontset dt:first-of-type,
.fontset dd:first-of-type {
  margin-top: 0; }

.fontset dt {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem; }
  @media (max-width: 780px) {
    .fontset dt {
      font-size: 0.875rem; } }

.fontset dd {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 28px; }
  @media (max-width: 780px) {
    .fontset dd {
      font-size: 0.875rem; } }

.fontset dd + dd,
.fontset dt + dt,
.fontset dt + dd {
  margin-top: 0; }

.fontset dt + dt + dd {
  margin-top: 0; }

.fontset figure {
  margin-top: 0;
  margin-bottom: 1.75rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }
  @media (max-width: 780px) {
    .fontset figure {
      margin-bottom: 0.875rem; } }

.fontset figcaption {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.875rem; }

.fontset h1 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
  font-weight: bold;
  font-size: 2.75rem; }
  @media (max-width: 780px) {
    .fontset h1 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h1 {
      font-size: 1.875rem; } }

.fontset h2 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 2rem; }
  @media (max-width: 780px) {
    .fontset h2 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h2 {
      font-size: 1.375rem; } }

.fontset h3 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 100;
  font-size: 1.75rem; }
  @media (max-width: 780px) {
    .fontset h3 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h3 {
      font-size: 1.125rem; } }

.fontset h4 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 1.5rem; }
  @media (max-width: 780px) {
    .fontset h4 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h4 {
      font-size: 1rem; } }

.fontset h5 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 1.25rem; }
  @media (max-width: 780px) {
    .fontset h5 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h5 {
      font-size: 0.875rem; } }

.fontset h6 {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem; }
  @media (max-width: 780px) {
    .fontset h6 {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset h6 {
      font-size: 0.75rem; } }

.fontset hr {
  margin-top: 0;
  margin-bottom: 1.75rem;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px deeppink;
  border-left: none; }
  @media (max-width: 780px) {
    .fontset hr {
      margin-bottom: 0.875rem; } }

.fontset img {
  margin-top: 0;
  margin-bottom: 1.75rem;
  display: block;
  max-width: 100%; }
  @media (max-width: 780px) {
    .fontset img {
      margin-bottom: 0.875rem; } }

.fontset abbr[title] {
  border-bottom: 1px dotted deeppink;
  cursor: help; }

.fontset b {
  font-weight: bolder; }

.fontset cite {
  font-style: italic; }

.fontset code {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  color: deeppink; }

.fontset pre code {
  color: inherit; }

.fontset em {
  font-style: italic; }

.fontset i {
  font-style: italic; }

.fontset mark {
  background-color: deeppink;
  color: #fff; }

.fontset strong {
  font-weight: bolder; }

.fontset ol,
.fontset ul {
  margin-top: 0;
  margin-bottom: 1.75rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 28px; }
  @media (max-width: 780px) {
    .fontset ol,
    .fontset ul {
      margin-bottom: 0.875rem; } }
  .fontset ol ol,
  .fontset ol ul,
  .fontset ul ol,
  .fontset ul ul {
    margin-top: 12px;
    margin-bottom: 0 !important; }

.fontset ol {
  list-style-type: decimal;
  list-style-position: outside; }

.fontset ul {
  list-style-type: disc;
  list-style-position: outside; }

.fontset li {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding-left: 14px; }
  @media (max-width: 780px) {
    .fontset li {
      font-size: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset li {
      margin-bottom: 0.5rem; } }

.fontset nav {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem; }
  @media (max-width: 780px) {
    .fontset nav {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset nav {
      font-size: 0.875rem; } }
  .fontset nav ul,
  .fontset nav li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .fontset nav a {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.25;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding: 0.5em 0; }
    @media (max-width: 780px) {
      .fontset nav a {
        font-size: 0.875rem; } }
  .fontset nav ul ul a {
    padding-left: 28px; }

.fontset p {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  font-weight: 300;
  font-size: 1rem; }
  @media (max-width: 780px) {
    .fontset p {
      margin-bottom: 0.875rem; } }
  @media (max-width: 780px) {
    .fontset p {
      font-size: 0.875rem; } }

.fontset pre {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 1.25em 0.625em;
  overflow-x: auto;
  background-color: #f0f0f0;
  color: #404040; }
  @media (max-width: 780px) {
    .fontset pre {
      margin-bottom: 0.875rem; } }

.fontset table {
  margin-top: 0;
  margin-bottom: 1.75rem;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse; }
  @media (max-width: 780px) {
    .fontset table {
      margin-bottom: 0.875rem; } }

.fontset caption,
.fontset th,
.fontset td {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem; }

.fontset caption {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 500;
  font-size: 1rem;
  text-align: left; }
  @media (max-width: 780px) {
    .fontset caption {
      font-size: 0.875rem; } }

.fontset th,
.fontset td {
  text-align: left;
  vertical-align: top;
  border: solid 1px #f0f0f0; }

.fontset th {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem; }
  @media (max-width: 780px) {
    .fontset th {
      font-size: 0.875rem; } }

.fontset td {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 0.875rem; }
