@mixin fontset-html-lists {
  ol,
  ul {
    @include fontset-block;
    @include fontset-size(padding-left, $fontset-list-indent);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    ol,
    ul {
      @include fontset-size(
        margin-top,
        nth($fontset-list-indent, 1) / 2,
        nth($fontset-list-indent, 2) / 2
      );
      margin-bottom: 0 !important;
    }
  }

  ol {
    list-style: {
      type: decimal;
      position: outside;
    };
  }

  ul {
    list-style: {
      type: disc;
      position: outside;
    };
  }

  li {
    @include fontset-font(li);
    @include fontset-size(
      margin-bottom,
      nth($fontset-list-indent, 1) / 2,
      nth($fontset-list-indent, 2) / 2
    );
    @include fontset-size(
      padding-left,
      nth($fontset-list-indent, 1) / 2,
      nth($fontset-list-indent, 2) / 2
    );
  }

}