<h2>Lists</h2>
<p>
    <code>&lt;ul&gt;</code>,
    <code>&lt;ol&gt;</code> and
    <code>&lt;li&gt;</code>
</p>
<h3>Unordered lists</h3>
<ul>
    <li>List item one</li>
    <li>List item two</li>
    <li>
        List item three
        <ul>
            <li>List item three A</li>
            <li>List item three B</li>
            <li>List item three C</li>
        </ul>
    </li>
    <li>
        List item four
        <br>
        Second line
    </li>
</ul>
<h3>Ordered lists</h3>
<ol>
    <li>List item one</li>
    <li>List item two</li>
    <li>
        List item three
        <ol>
            <li>List item three A</li>
            <li>List item three B</li>
            <li>List item three C</li>
        </ol>
    </li>
    <li>
        List item four
        <br>
        Second line
    </li>
</ol>