<h2>Horizontal break</h2>
<blockquote cite="https://dev.w3.org/html5/html-author/#the-hr-element">
    The <code>&lt;hr&gt;</code> element represents a paragraph-level thematic break, e.g. a scene change in a story,
    or a transition to another topic within a section of a reference book.
</blockquote>
<hr>