<!DOCTYPE html>
<html>
{{> head}}
<body onload="init()">

{{> github-ribbon}}

<main class="fontset demo">

    <div class="demo-nav">
        {{> site-nav}}
        <hr />
        <nav data-demo-nav class="demo-nav-elements"></nav>
        <button data-demo-text-toggle style="display: none">
            More text
        </button>
    </div>
    <div class="demo-content">
        <section>
            <h1>
                Css <strong>font sets</strong>
            </h1>
            <p>
                <strong>
                    Just add <abbr title="Hypertext Markup Language">HTML</abbr>!
                </strong>
            </p>
            {{> font-list cssModifier="horizontal"}}
            <section>
                <h2>Getting started</h2>
                <pre><code>npm install fontset --save</code></pre>
                <h3>
                    <strong>scss</strong> examples
                </h3>
                <h4>Use included fonts</h4>
                <pre><code>{{> example-scss}}</code></pre>
                <h4>Use other fonts</h4>
                <pre><code>{{> example-scss-custom}}</code></pre>
                <h2><strong>scss</strong> settings</h2>
                <details>
                    <summary>See all default settings</summary>
                    <p>
                        Note: The syntax highlighting below is rendered using
                        <a href="https://highlightjs.org" target="_blank">highlight.js</a>.
                    </p>
                    <pre class="hljs"><code>{{{settingsContent}}}</code></pre>
                </details>
                <h3>
                    <strong>Vanilla</strong> HTML / CSS
                </h3>
                <pre><code>{{> example-css}}</code></pre>
            </section>
        </section>
        <hr>
        <section data-demo-nav-sections>
            <h2>HTML Elements</h2>
            <section data-demo-nav-section="Headings">
                {{> headings/index}}
            </section>
            <section>
                {{> p/index}}
            </section>
            <section>
                {{> a/index}}
            </section>
            <section>
                {{> button/index}}
            </section>
            <section>
                {{> hr/index}}
            </section>
            <section>
                {{> inline/index}}
            </section>
            <section>
                {{> blockquote/index}}
            </section>
            <section>
                {{> pre/index}}
            </section>
            <section>
                {{> figure/index}}
            </section>
            <section>
                {{> img/index}}
            </section>
            <section>
                {{> nav/index}}
            </section>
            <section>
                {{> table/index}}
            </section>
            <section>
                {{> lists/index}}
            </section>
            <section>
                {{> dl/index}}
            </section>
            <section>
                {{> address/index}}
            </section>
            <section>
                {{> details/index}}
            </section>
        </section>
    </div>
</main>

<script src="http://hkvalvik.github.io/dist/index.min.js"></script>

</body>
</html>