// Add settings here

@import '{{exampleIncludePath}}/{{fontsPath}}/<script>
    document.write(Demo.getFontName());
</script>.scss'; // See all <a href="https://github.com/hkvalvik/fontset/tree/master/fonts">scss font sets</a>

.my-selector {
    @include fontset;
}