<!DOCTYPE html>
<html>
{{> head}}
<body onload="init()">

<a href="https://github.com/hkvalvik/fontset"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

<main class="fontset demo">
    <div class="demo-nav">
        {{> site-nav}}
    </div>
    <div class="demo-content">
        <h1 data-gulp-screenshot class="demo-gulp-screenshot">
            <script>
                document.write(Demo.getFormattedFontName());
            </script>
        </h1>
        <h1>
            Css <strong>font sets</strong>
        </h1>
        <p>
            <b>Responsive</b>
            typography sets, works with any
            <abbr title="Hypertext Markup Language">HTML</abbr>.
            <br>
            All css font-properties, line-heights, colors, e.t.c. are
            <strong>configurable</strong>
            with <abbr title="A css preprocessor">Sass</abbr>.
        </p>
        {{> font-list cssModifier="horizontal"}}
        <hr>
        <a href="documentation.html">Read the docs</a> to get started
    </div>
</main>
<script src="http://hkvalvik.github.io/dist/index.min.js"></script>
</body>
</html>