@import "../node_modules/normalize-scss/sass/normalize";
@import "../node_modules/sass-media-mixins/index";
@import "../index";
@import "shadow";

@include normalize;

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  min-width: $fontset-min-width;
}

.demo {
  @include clearfix;
  @include fontset-fluid(padding, fontset-rem(12), fontset-rem(32));
  margin: 0 auto;
  color: #303030;

  &-nav {
    @include media-medium-and-large {
      float: left;
      width: 30%;
      padding-right: 4em;
    }
  }

  &-nav-elements {
    @include media-small {
      display: none;
    }
  }

  &-content {
    @include media-medium-and-large {
      float: left;
      width: 70%;
    }
  }

  &-hljs-heading {
    white-space: normal;
    color: #444;
    font-weight: bold;

    &:before {
      content: '// ';
    }
  }

  .hljs {
    padding: 1.25em .625em;
    background: #f0f0f0;
    color: inherit;
  }
}

.demo-gulp-screenshot {
  display: none;
  white-space: nowrap;
  font-size: 120px;
  //background-color: $fontset-color-primary;
  //color: $fontset-color-primary-contrast;
  background-color: #fff;
  color: #202020;
}

.demo-font-list {
  @include clearfix;
  @include fontset-fluid(margin-bottom, fontset-rem(8), fontset-rem(32));
  font-size: 0;
  line-height: 0;

  button {
    @include fontset-fluid(margin, fontset-rem(.5), fontset-rem(2));
    position: relative;
    background-color: #fff;
  }

  &-selected {
    box-shadow: none !important;
  }

  &--horizontal button {
    @include shadow-1dp;
  }

  &--vertical button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 0;
  }

  button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .01);
  }

  &-selected:after {
    background-color: transparent !important;
  }


  img {
    @include fontset-fluid(height, fontset-rem(16), fontset-rem(22));
    display: block;
    margin: 0;

  }
}
