<h2>Anchors</h2>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/a">
    The <code>&lt;a&gt;</code> element represents a hyperlink.
</blockquote>
<p>
    <strong>Example:</strong>
    <a href="javascript:void(0)">This is a link</a>
</p>
