@mixin fontset-html-dl {
  dl {
    @include fontset-block;
  }

  dt,
  dd {
    @include fontset-size(margin-top, $dl-indent);
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    padding: 0;
  }

  dt:first-of-type,
  dd:first-of-type {
    margin-top: 0;
  }

  dt {
    @include fontset-font(dt);
  }

  dd {
    @include fontset-font(dd);
    @include fontset-size(padding-left, $dl-indent);
  }

  dd + dd,
  dt + dt,
  dt + dd {
    margin-top: 0;
  }

  dt + dt + dd {
    margin-top: 0;
  }
}