<h2>Datalist</h2>
<p>
    <code>&lt;dl&gt;</code>,
    <code>&lt;dt&gt;</code> and
    <code>&lt;dd&gt;</code>
</p>
<dl>
    <dt>Term</dt>
    <dd>Definition ipsum dolor sit amet</dd>
    <dd>Lorem ipsum dolor sit amet</dd>
    <dd>Pretium nec scelerisque</dd>
    <dt>Another term</dt>
    <dd>Another definition</dd>
    <dt>Lorem ipsum</dt>
    <dt>Dolor sit amet</dt>
    <dt>Pretium scelerisque</dt>
    <dd>Morbi congue ullamcorper sapien</dd>
</dl>