<h2>Navigations</h2>
<blockquote cite="https://developer.mozilla.org/en/docs/Web/HTML/Element/nav">
    The HTML <code>&lt;nav&gt;</code> element (HTML Navigation Element)
    represents a section of a page that links to other pages or to parts within the page: a section with navigation links.
</blockquote>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Our projects</a>
            <ul>
                <li><a href="#">Project one</a></li>
                <li><a href="#">Project two</a></li>
                <li><a href="#">Project three</a></li>
            </ul>
        </li>
        <li><a href="#">What we do</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About us</a></li>
    </ul>
</nav>
