@mixin fontset-html-blockquote {
  blockquote {
    @include fontset-block;
    @include fontset-font(blockquote);
    @include fontset-size(
      padding-left,
      nth($fontset-blockquote-indent, 1) - fontset-strip-unit($fontset-blockquote-border-width),
      nth($fontset-blockquote-indent, 2) - fontset-strip-unit($fontset-blockquote-border-width)
    );
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: solid $fontset-blockquote-border-color;
  }
}