<h2>Blockquote</h2>
<blockquote cite="https://www.w3.org/wiki/HTML/Elements/blockquote">
    The HTML <code>&lt;blockquote&gt;</code> Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended quotation.
</blockquote>
